<div class="container">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
        <h2>ブログを編集する</h2>
        <%= render 'form', carrier: @carrier %>
        <%= link_to 'Show', @carrier %>
        <%= link_to 'Back', carriers_path %>
    </div>
</div>