<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>
    <h1>ブログ一覧 </h1>
    <% @carriers.each do |carrier| %>
      <div class="row">
        <!-- # ブログのタイトルにlink_toでリンクを設定します。 -->
          <strong><%== markdown(carrier.title) %></strong>
          <p><%== markdown(carrier.content ) %></p><hr><hr>
      </div>
    <% end %>
  </div>
</div>

