<ul class="">
  <li class="mappo">プログラミング勉強法について</li>
    <li class="flex"><%= link_to @study.title, studies_path %></li>
  <li class="mappo">技術 ブログ</li>
    <li class="flex"><%= link_to @blog.title, blogs_path %></li>
  <li class="mappo">エンジニア職での就業における見立て</li>
    <li class="flex"><%= link_to @carrier.title, carriers_path %></li>
  <li class="mappo">Topic</li>
    <li class="flex"><%= link_to @topic.title, topics_path %></li>
</ul>
