<%= form_for([@topic,@comment]) do |f| %>
  <%= f.hidden_field :topic_id %>
    <form>
        <div class="field">
          <%= f.text_field :content, placeholder: "内容", class: "form-control"  %>
        </div>
      <input type='submit' value='送信'>
    </form>
<% end %>